<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Илья</title>
  </head>
  <body>
    <h1>Илюха из Васюков</h1>
    <br/>
    <img src="https://sun9-28.userapi.com/impf/c623626/v623626200/42fc1/5pH0evbFwvM.jpg?size=1280x853&quality=96&sign=ffd758100546137db10e0b96f87f1fda&type=album" alt="Моя картинка" width="300" height="200"  />
    <p>
        <strong>Привет! Я самый шустрый парень из Васюков, и это моя супер-пупер <a href="https://vk.com/id2016200">страничка</a>!</strong><br>
        Тут я буду публиковать все <mark>про моего приятеля Витька!</mark><br>
        <div>
        Он <em>совершенно</em> не догадывается о своих проделках!<br>
        Но скоро все узнают, как он тырил <del>свежайшие</del> <ins>зеленые и кислые</ins>  яблоки у Никифоровны!!!<br>
        </div>
    </p>
  </body>
</html>

